# Top-level configuration for Acropolis omnibus process
# Test block injection version - core ledger only, no storage, assets or derived state

# ============================================================================
# Startup Configuration
# ============================================================================
[global.startup]
method = "mithril"  # Options: "mithril" | "snapshot"
topic = "cardano.sequence.start"

# ============================================================================
# Bootstrap Module Configurations
# ============================================================================
[module.genesis-bootstrapper]

[module.mithril-snapshot-fetcher]
aggregator-url = "https://aggregator.release-mainnet.api.mithril.network/aggregator"
genesis-key = "5b3139312c36362c3134302c3138352c3133382c31312c3233372c3230372c3235302c3134342c32372c322c3138382c33302c31322c38312c3135352c3230342c31302c3137392c37352c32332c3133382c3139362c3231372c352c31342c32302c35372c37392c33392c3137365d"
# Download max age in hours. E.g. 8 means 8 hours (if there isn't any snapshot within this time range download from Mithril)
download-max-age = "never"
# Pause constraint E.g. "epoch:100", "block:1200"
pause = "none"
# Stop constraint likewise
# Get enough into Shelley to get parameters
stop = "epoch:209"

# ============================================================================
# Core Module Configurations
# ============================================================================
[module.fake-block-injector]
block-files = "test-blocks/block.*.cbor"

[module.consensus]
# List of validation result topics to listen on
validators = [
# Add these once they are actually being sent
#           "cardano.validation.vrf",
#           "cardano.validation.kes",
#           "cardano.validation.utxo"
           "cardano.validation.governance",
           "cardano.validation.spo",
           "cardano.validation.accounts"
]

[module.block-unpacker]

[module.tx-unpacker]
publish-utxo-deltas-topic = "cardano.utxo.deltas"
publish-asset-deltas-topic = "cardano.asset.deltas"
publish-withdrawals-topic = "cardano.withdrawals"
publish-certificates-topic = "cardano.certificates"
publish-governance-topic = "cardano.governance"
publish-block-txs-topic = "cardano.block.txs"
publish-tx-validation-topic = "cardano.validation.txs"
network-name = "mainnet"

[module.utxo-state]
address-delta-publish-mode = "compact"
store = "memory" # "memory", "dashmap", "fjall", "fjall-async", "sled", "sled-async", "fake"
address-delta-topic = "cardano.address.delta"

[module.spo-state]

[module.spdd-state]

[module.drep-state]

[module.governance-state]

[module.parameters-state]

[module.stake-delta-filter]
cache-mode = "predefined" # "predefined", "read", "write", "write-if-absent"
write-full-cache = "false"

[module.epochs-state]

[module.accounts-state]

[module.block-vrf-validator]

[module.block-kes-validator]

[module.clock]

# ============================================================================
# Message Bus Configuration
# ============================================================================
[message-bus.internal]
class = "in-memory"
workers = 50
dispatch-queue-size = 1000
worker-queue-size = 100
bulk-block-capacity = 50
bulk-resume-capacity = 75

# Message routing
[[message-router.route]]  # Everything is internal only
pattern = "#"
bus = "internal"
