# Acropolis Stake Delta Filter

[package]
name = "acropolis_module_stake_delta_filter"
version = "0.1.0"
edition = "2021"
authors = ["Dmitry Shtukenberg <dmitry.shtukenberg@iohk.io>"]
description = "Stake Delta Filter"
license = "Apache-2.0"

[dependencies]
acropolis_common = { path = "../../common" }

caryatid_sdk = { workspace = true }

anyhow = { workspace = true }
bech32 = "0.11"
config = { workspace = true }
pallas = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[lib]
path = "src/stake_delta_filter.rs"
