# Top-level configuration for Acropolis indexer process

[global.startup]
network-name = "mainnet"
startup-mode = "snapshot"
sync-mode = "upstream"      # Options: "mithril" | "upstream"
topic = "cardano.sequence.start"

[module.genesis-bootstrapper]

[module.mithril-snapshot-fetcher]
aggregator-url = "https://aggregator.release-mainnet.api.mithril.network/aggregator"
genesis-key = "5b3139312c36362c3134302c3138352c3133382c31312c3233372c3230372c3235302c3134342c32372c322c3138382c33302c31322c38312c3135352c3230342c31302c3137392c37352c32332c3133382c3139362c3231372c352c31342c32302c35372c37392c33392c3137365d"
# Download max age in hours. E.g. 8 means 8 hours (if there isn't any snapshot within this time range download from Mithril)
download-max-age = "never"
block-publish-topic = "cardano.block.proposed"

[module.peer-network-interface]
block-topic = "cardano.block.proposed" # Skip validation for indexer
sync-point = "dynamic"
node-addresses = [
    "backbone.cardano.iog.io:3001",
    "backbone.mainnet.cardanofoundation.org:3001",
    "backbone.mainnet.emurgornd.com:3001",
]

[module.block-unpacker]

[module.custom-indexer]

[startup]
topic = "cardano.sequence.start"

[message-bus.internal]
class = "in-memory"
workers = 50
dispatch-queue-size = 1000
worker-queue-size = 100
bulk-block-capacity = 50
bulk-resume-capacity = 75

# Message routing
[[message-router.route]]  # Everything is internal only
pattern = "#"
bus = "internal"
