# Acropolis UTXO state module

[package]
name = "acropolis_module_utxo_state"
version = "0.1.0"
edition = "2021"
authors = ["Paul Clark <paul.clark@iohk.io>"]
description = "UTXO state Caryatid module for Acropolis"
license = "Apache-2.0"

[dependencies]
acropolis_common = { path = "../../common" }
acropolis_codec = { path = "../../codec" }

caryatid_sdk = { workspace = true }

anyhow = { workspace = true }
async-trait = "0.1"
config = { workspace = true }
dashmap = { workspace = true }
fjall = { workspace = true }
serde_cbor = "0.11.2"
sled = "0.34.7"
tokio = { workspace = true }
tracing = { workspace = true }

[lib]
path = "src/utxo_state.rs"

[dev-dependencies]
hex.workspace = true
pallas.workspace = true
serde.workspace = true
serde_json.workspace = true
test-case = "3.3.1"
