name: Run omnibus bootstrap test

on:
  schedule:
    - cron: '15 0 * * *'

  workflow_dispatch:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  run-test:
    name: Run omnibus bootstrap test
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run bootstrap test
        run: ./scripts/omnibus-bootstrap-test.sh
