name: Run tests on push/PR to main

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Remove packages to free up disk space
        run:  |
          sudo dpkg -P ant ant-optional azure-cli firefox google-chrome-stable \
            google-cloud-cli google-cloud-cli-anthoscli kubectl \
            microsoft-edge-stable mysql-server mysql-server-8.0 \
            mysql-server-core-8.0 powershell temurin-11-jdk temurin-17-jdk \
            temurin-21-jdk temurin-25-jdk temurin-8-jdk > /dev/null

      - name: Checkout code
        uses: actions/checkout@v4

      - name: set up cache
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Install Shear
        run: cargo install cargo-shear

      - name: Run Format
        run: cargo fmt --all -- --check

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Run Shear
        run: cargo shear

      - name: Run Audit
        uses: rustsec/audit-check@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Run Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
