name: Run tests on push to main

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Format
        run: cargo fmt --all -- --check

      - name: Run Clippy
        run: |
          cargo clippy \
            --package acropolis_common \
            --package acropolis_codec \
            --package acropolis_module_address_state \
            --package acropolis_module_assets_state \
            --package acropolis_module_block_unpacker \
            --package acropolis_module_chain_store \
            --package acropolis_module_consensus \
            --package acropolis_module_drdd_state \
            --package acropolis_module_drep_state \
            --package acropolis_module_epochs_state \
            --package acropolis_module_genesis_bootstrapper \
            --package acropolis_module_mithril_snapshot_fetcher \
            --package acropolis_module_snapshot_bootstrapper \
            --package acropolis_module_spdd_state \
            --package acropolis_module_stake_delta_filter \
            --package acropolis_module_tx_submitter \
            --package acropolis_module_upstream_chain_fetcher \
            --package acropolis_module_utxo_state \
            --package acropolis_process_tx_submitter_cli

      - name: Run Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
