name: Run tests on push to main

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Shear
        run: cargo install cargo-shear

      - name: Run Format
        run: cargo fmt --all -- --check

      - name: Run Clippy
        run: cargo clippy --all-targets --all-features -- -D warnings

      - name: Run Shear
        run: cargo shear

      - name: Run Build
        run: cargo build --verbose

      - name: Run tests
        run: cargo test --verbose
